.btn-success{
  color: #fff;
  background-color: #153fc7 !important;
  border-color: #153fc7 !important;
}

.row{
  margin-top: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}